<!-- <div class="card-body" *ngIf="!employee">
  <h1>Employee Not Found</h1>
  <a routerLink="" class="btn btn-info">Go Home</a>
</div> -->

<div class="card" *ngIf="employee">
  <div class="card-body">
    <img
      [src]="employee.photoPath"
      alt="{{ employee.name }}"
      class="img-thumbnail"
      [ngStyle]="{ width: '200px' }"
    />
    <h2 class="card-title">{{ employee.name | uppercase }}</h2>
    <table class="table table-borderless">
      <tr>
        <th>Gender:</th>
        <td>{{ employee.gender | titlecase }}</td>
      </tr>
      <tr>
        <th>Contact:</th>
        <td>
          {{ employee.phoneNumber ? employee.phoneNumber : employee.email }}
        </td>
      </tr>
      <tr>
        <th>Department:</th>
        <td [ngSwitch]="employee.department">
          <span class="p-0" *ngSwitchCase="1">IT</span>
          <span class="p-0" *ngSwitchCase="2">HR</span>
          <span class="p-0" *ngSwitchCase="3">Management</span>
          <span class="p-0" *ngSwitchCase="4">Help Desk</span>
          <span class="p-0" *ngSwitchDefault>N/A</span>
        </td>
      </tr>
      <tr>
        <th>IsActive:</th>
        <td>{{ employee.isActive }}</td>
      </tr>
      <tr>
        <th>Date Of Birth:</th>
        <td>{{ employee.dateOfBirth | date: "mediumDate" }}</td>
      </tr>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <a
      class="btn btn-primary"
      [routerLink]="['/list', { id: employee.id }]"
      queryParamsHandling="preserve"
      >Back To List</a
    >
    <button class="btn btn-secondary" (click)="viewNextEmployee()">
      Next Employee
    </button>
  </div>
</div>
